.link {
  all: unset;
  text-decoration: none;
  font-size: 2rem;
  color: $color-primary;
  transition: all 0.2s;
  position: relative;
  align-self: end;
  &:hover,
  &:focus {
    &::after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      height: 3px;
      background-color: currentColor;
      animation: underline 0.4s ease forwards;
    }
  }

  &:focus {
    color: $color-black;
    outline: none;
  }
}

@keyframes underline {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
