@import 'assets/scss/main.scss';

.settings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3rem 8rem;
  width: 100%;
  column-gap: 10%;

  .section-photo {
    @include respond(md) {
      grid-row: 1;
    }
  }

  @include respond(md) {
    grid-template-columns: 1fr;
  }

  @include respond(xs) {
    padding: 3rem;
  }

  &__separator {
    width: 100%;
    height: 5px;
    background: $color-primary;
    margin: 3rem 0;
  }

  &__heading {
    text-align: start;
    margin: 1rem 0;
  }

  &__update-data,
  &__update-password,
  &__delete-account,
  &__confirm-email {
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-column: 1;
  }

  &__update-photo {
    width: 100%;
    display: flex;
    flex-direction: column;
    // grid-column: 2;

    @include respond(md) {
      grid-row: 1 / 2;
      grid-column: 1;
    }
  }
}
